
.un {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: #008cff;
  width: 200px;
  height: 100px;
 
  transition: all 2s;
  transform: translate(-107px, -15px) rotate(315deg);
  position: absolute;

}
.deux {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: #e90c0c;
  width: 200px;
  height: 100px;
  transition: all 2s;
  transform: translate(25px, -5px) rotate(135deg);
  position: absolute;
}
.trois {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: #d3c500;
  width: 100px;
  height: 50px;
  transition: all 2s;
  transform: translate(80px, -155px) rotate(180deg);
  position: absolute;
}
.quatre {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: #211844;
  width: 100px;
  height: 50px;
  transition: all 2s;
  transform: translate(-117px, 92px) rotate(271deg);
  position: absolute;
}
.cinq {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background: #9fb1d4;
  width: 143.33px;
  height: 71.66px;
  transition: all 2s;
  position: absolute;
  transform: translate(35px, 56px) rotate(45deg);
}
.six {
  width: 70px;
  height: 70px;
  transition: all 2s;
  background: #d70ce9;
  position: absolute;
  transform: translate(30px, -130px) rotate(45deg);
}
.sept {
  clip-path: polygon(38% 0%, 98% 0%, 68% 100%, 8% 100%);
  width: 161px;
  height: 45px;
  transition: all 2s;
  background: #42e900;
  position: absolute;
  transform: translate(-188px, 17px) rotate(320deg);
}