
  .un {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #008cff;
    width: 200px;
    height: 100px;
    position: absolute;
    transform: translate(-88px, 20px);
    transition: all 2s;
  }
  .deux {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #e90c0c;
    width: 200px;
    height: 100px;
    transform: translate(25px, 5px) rotate(45deg);
    position: absolute;
    transition: all 2s;
  }
  .trois {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #d3c500;
    width: 100px;
    height: 50px;
    transform: translate(83px, 20px) rotate(-135deg);
    position: absolute;
    transition: all 2s;
  }
  .quatre {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #211844;
    width: 100px;
    height: 50px;
    transform: translate(-8px, 126px) rotate(135deg);
    position: absolute;
    transition: all 2s;
  }
  .cinq {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #9fb1d4;
    width: 143.33px;
    height: 71.66px;
    position: absolute;
    transform: translate(-216px, 97px) rotate(45deg);
    transition: all 2s;
  }
  .six {
    width: 70px;
    height: 70px;
    background: #d70ce9;
    position: absolute;
    transform: translate(102px, 79px) rotate(0deg);
    transition: all 2s;
  }
  .sept {
    clip-path: polygon(38% 0%, 98% 0%, 68% 100%, 8% 100%);
    width: 161px;
    height: 45px;
    background: #42e900;
    position: absolute;
    transform: translate(25px, -88px) rotate(257deg);
    transition: all 2s;
  }